<div class="jumbotron">
	<h1>Angular Forum</h1>
	<p>Hi! Welcome to my new forum built with AngularJs and Bootstrap.
		Please take a minute to check out some of the new features that have
		been added since you were here last!</p>

</div>

<div class="row">
	<div class="col-lg-3">
		<div class="well">
			<h2>Recent Forums:</h2>
			<table class="table table-striped table-hover">

				<tr>

					<th>Title</th>
					<th>Author</th>
					<th>Date Created</th>

				</tr>

				<tr ng-repeat="forum in homeCtrl.recentForums.list">

					<td>{{forum.title}}</td>
					<td>{{forum.author}}</td>
					<td>{{forum.created}}</td>

				</tr>

			</table>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="well">
			<h2>Recent Posts:</h2>
			<div class="panel panel-info" ng-repeat="post in homeCtrl.recentPosts.list">
				<div class="panel-heading">
					<h3 class="panel-title">{{post.author}} - {{post.created}}</h3>
				</div>
				<div class="panel-body" style="word-wrap: break-word;">{{post.text}}</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="well">
			<h2>New Users:</h2>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="well">
			<h2>News:</h2>
		</div>
	</div>
</div>
