<div class="jumbotron">
	<h1>Angular Forum</h1>
	<p>Hi! Welcome to my new forum built with AngularJs and Bootstrap. 
		Please take a minute to check out some of the new features that have 
		been added since you were here last!</p>

</div>

<div class="row">
	<div class="col-lg-6">
		<div class="well">
			<h2>Recent Posts:</h2>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="well">
			<h2>New Users:</h2>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="well">
			<h2>News:</h2>
		</div>
	</div>
</div>
